/* common sstyles*/
.center {
  text-align: center;
}
.error span {
  color: #F44336;
}
.error input{
  border: 1px solid #E53935;
}
.search {
  color: #ff9800;
}
span.search {
  margin-left: 0.5em;
  font-size: 1.2em;
}
/* Index page */
.index-page {
  max-width: 350px;
  padding-top: 5.2em;
}
.intro{
  text-align: center;
  margin-bottom: 2.3em;
}
.intro h2{
  color: #ff9800;
  margin-bottom: 0px;
}
.intro h6{
  margin-bottom: 0px;
}
.form {
  margin-top: 1.3em;
}
.form-tabs > div:first-child{
  background-color: #fff !important;
  border: 2px solid #000013;
}
.form-tabs > div:first-child > button:first-child{
  border-right: 2px solid #000013 !important;
  border-radius: 0px;
}

/* Header */
.header-item > div {
  line-height: 0px !important;
}
.user-avatar {
  margin-top: -10px;
  margin-bottom: -10px;
}
.bg-purple, .user-letter{
  background-color: #1e1b38 !important;
}
.bg-purple{
  height: 20px;
}

/* Home tabs*/
.home-tabs {
  background-color: #E1E2E1;
  padding: 15px 20px;
}
.home-tabs .columns {
  margin-bottom: 6px;
}
.home-tabs form, .home-tabs form input {
  margin-bottom: 0px;
}

/* Document */
.document-length p{
  margin-bottom: 0px;
  margin-top: -10px;
}
.document-length span {
  font-size: 2em;
  margin-left: 8px;
}
.documents{
  padding: 20px 20px;
}
.documents .three.columns{
  margin-bottom: 1em;
}
.document {
  height: 300px;
  padding: 5px;
  margin-bottom: 15px;
  background-color: rgba(30, 27, 56, 0.8);
}
.document:hover {
  background-color: #1e1b38; 
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}
.document .document-details, .document .document-content{
  padding: 10px;
}
.document-details{
  height: 30px;
  margin-bottom: 5px;
}
.document-details, .document-id {
  color: #fff;
}
.document-content {
  background-color: #fff;
}
.document-content{
  height: 225px;
  width: inherit;
}
.document-content p{
  height: 165px;
  text-align: justify;
}
.document-actions {
  color: red;
}
.document-access h6{
  margin-bottom: 0px;
  font-weight: 800;
}
.document-access-options{
  padding-top: 15px;
}
.document-access-options > div {
  width: 10% !important;
  float: left;
  margin-right: 35px;
}

/* Profile */
.profile-body {
  padding-top: 20px;
}
.profile-body .back{
  margin-bottom: 20px;
}
.center-btn {
  width: 150px;
  margin: 0 auto;
}

/* tables */
.table-head th {
  font-size: 1em !important;
  font-weight: 800 !important;
}

/* AppToolbar */
.app-toolbar {
  padding: 0px 24px;
  background-color: #E1E2E1;
}
.app-toolbar .columns {
  margin-bottom: 15px;
}
.app-toolbar input {
  margin-bottom: 0px;
}
.toolbar-nav {
  padding: 0px !important;
  background-color: transparent !important;
  color: black !important;
}
.app-toolbar .document-count{
  font-size: 24px;
}
@media (max-width: 480px) {
  .document-access-options > div {
    width: 100% !important;
    margin-bottom: 8px;
  }
}
@media (min-width: 550px) {
  .app-toolbar .columns:nth-child(2),
  .app-toolbar .columns:nth-child(3) {
    margin-top: 17px;
  }
  .toolbar-nav{
    margin-top: 5px;
    margin-bottom: 0px;
  }
}
@media (min-width: 600px) {
  .home-tabs {
    padding-left: 6.8%;
    padding-right: 0px;
  }
  .home-tabs .columns {
    margin-bottom: 0px;
  }
  .documents{
    margin-left: 5%;
  }
}